AQUI SERÁ EL ESQUELETO QUE SERÁ TODO EL CSS QUE TENGAN EN COMUN LOS WIREFRAMES

*{
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;        
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.portada{
    background-image: url(../imgs/CapsuleSoft.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-attachment: fixed;
    
}

a{
    color: #dfe6e9;
    text-decoration: none;
}

div.barra{
    width: 100%;
    height: 45px;
    background-color: #636e72;    
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;    
    box-shadow: 0px -3px 7px #2d3436;
}

.barra img{
    height: 45px;   
    margin-left: 25px;
}

nav{    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;    
    
}


nav div{    
    align-items: center;
    display: flex;    
    justify-content: center;     
}

nav div:hover{
    background-color: #b2bec3;
    transition: ease-in-out 0.5s;     
}

.principal{
    width: 70%;
    height: 100vh;    
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;    
}

h2{
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 1px 5px gray;    
}

p{
    font-family: 'Nanum Gothic', sans-serif;
}

.quienes div{
    display: grid;
    grid-template-columns: 1fr 1fr;    
}

.quienes img:hover{
    transition: ease-in-out 0.2s;
    transform: scale(1.2);
}

.acerca{    
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 2em;
}

.acerca h2{
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 1px 5px gray;
}

.acerca p{
    font-family: 'Nanum Gothic', sans-serif;
}

footer{
    background-color: #2d3436;
    color: #dfe6e9;    
}

footer table{
    border-spacing: 10px;
    font-family: 'Nunito', sans-serif;
}

.clientes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3em;
}