<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>guardarPaciente</servlet-name>
        <servlet-class>Servlets.guardarPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarMedico</servlet-name>
        <servlet-class>Servlets.guardarMedico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guadar_Admin</servlet-name>
        <servlet-class>Servlets.guadar_Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarUsuario</servlet-name>
        <servlet-class>Servlets.VerificarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarMedico</servlet-name>
        <servlet-class>Servlets.VerificarMedico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarAdministrador</servlet-name>
        <servlet-class>Servlets.VerificarAdministrador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>guardarPaciente</servlet-name>
        <url-pattern>/guardarPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarMedico</servlet-name>
        <url-pattern>/guardarMedico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guadar_Admin</servlet-name>
        <url-pattern>/guadar_Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarUsuario</servlet-name>
        <url-pattern>/VerificarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarMedico</servlet-name>
        <url-pattern>/VerificarMedico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarAdministrador</servlet-name>
        <url-pattern>/VerificarAdministrador</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
